* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "layout/_content-sections.scss";
@import "abstracts/_variables.scss";
@import "layout/_header.scss";
@import "layout/_footer.scss";
@import "layout/_navigation.scss";