@import url("https://fonts.googleapis.com/css2?family=Domine&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FEFAE0;
}

.diagonal-box-shaded {
  position: static;
  background-color: #F4A261;
  transform: skewY(10deg);
  z-index: -1;
}

header {
  position: fixed;
  background-color: transparent;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  top: 0;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
header .fa-bars {
  font-size: 2rem;
  color: #264653;
  cursor: pointer;
  text-shadow: 2px 2px 2px lightgray;
}
header .dark-mode-switch {
  display: flex;
  height: 27px;
  width: 60px;
  background-color: #264653;
  border-radius: 30px;
  justify-content: space-evenly;
  align-items: center;
  color: #FEFAE0;
}
header .dark-mode-switch__input {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: #FEFAE0;
}

.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FEFAE0;
}
.landing-section__rectangle {
  width: 450px;
  height: 25px;
  background-color: #E76F51;
  box-shadow: 2px 2px 2px 2px lightgray;
}
.landing-section__h1 {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  color: #264653;
  font-size: 9rem;
  margin-bottom: 15px;
  text-shadow: 2px 2px 2px lightgrey;
}
.landing-section__h2 {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  color: #264653;
  font-size: 2.5rem;
  margin-top: 30px;
}

.content-section, .content-section-with-background {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 60em;
  margin: 0 auto;
}
.content-section__h2 {
  margin-top: 50px;
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  text-shadow: 2px 2px 2px lightgray;
  text-align: center;
  color: #264653;
}
.content-section__text-block {
  font-family: "Domine", "Times New Roman", serif;
}
.content-section-with-background {
  transform: skewY(-10deg);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #264653;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  opacity: 0.9;
}
.sidenav__closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3rem;
  margin-left: 50px;
  text-decoration: none;
  color: #FEFAE0;
}
.sidenav__link {
  padding: 32px 32px 8px 32px;
  text-decoration: none;
  font-family: "Domine", "Times New Roman", serif;
  font-size: 1.5rem;
  color: #FEFAE0;
  display: block;
  transition: 0.3s;
}
.sidenav__link:hover {
  color: #E76F51;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #264653;
  color: #FEFAE0;
}
.footer p {
  font-family: "Domine", "Times New Roman", serif;
  font-weight: 700;
}