// vars

@import url('https://fonts.googleapis.com/css2?family=Domine&family=Pacifico&display=swap');

$header-font: 'Pacifico', cursive;
$body-font: 'Domine', 'Times New Roman', serif;

$light-background-primary: #FEFAE0;
$light-background-secondary: #F4A261;
$light-accent: #E76F51;
$light-text-title-color: #264653;
$light-text-header-color: #264653;
$light-text-paragraph-color: #264653;

$dark-background-primary: #264653;
$dark-background-secondary: #2A9D8F;
$dark-accent: #E76F51;
$dark-text-title-color: #E9C46A;
$dark-text-header-color: #F4A261;
$dark-text-paragraph-color: #FEFAE0;


// resets

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-background-primary;
}



// background shapes



.diagonal-box-shaded {
    position: static;
    background-color: $light-background-secondary;
    transform: skewY(10deg);
    z-index: -1;
}



// header

header {
    position: fixed;
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    top: 0;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    
        .fa-bars {
            font-size: 2rem;
            color: $light-text-header-color;
            cursor: pointer;
            text-shadow: 2px 2px 2px lightgray;
        }

        .dark-mode-switch {
        display: flex;
        height: 27px;
        width: 60px;
        background-color: $light-text-header-color;
        border-radius: 30px;
        justify-content: space-evenly;
        align-items: center;
        color: $light-background-primary;

            &__input {
            border-radius: 50%;
            height: 25px;
            width:  25px;
            background-color: $light-background-primary;
            }
        }


        











    }

// landing section

.landing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $light-background-primary;

    &__rectangle {
        width: 450px;
        height: 25px;
        background-color: $light-accent;
        box-shadow: 2px 2px 2px 2px lightgray;
    }

    &__h1 {
        font-family: $header-font;
        font-weight: 300;
        color: $light-text-header-color;
        font-size: 9rem;
        margin-bottom: 15px;
        text-shadow: 2px 2px 2px lightgrey;
    }


    &__h2 {
        font-family: $header-font;
        font-weight: 300;
        color: $light-text-header-color;
        font-size: 2.5rem;
        margin-top: 30px;
    }
}



// "content sections"

.content-section {
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 60em;
    margin: 0 auto;
    
    
    &__h2 {
        margin-top: 50px;
        font-family: $header-font;
        font-size: 4rem;
        text-shadow: 2px 2px 2px lightgray;
        text-align: center;
        color: $light-text-title-color;

    }

    &__text-block {
        font-family: $body-font;
    }

    &-with-background {
        @extend .content-section;
        transform: skewY(-10deg);
        
    }
}


// nav bar

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: $light-text-header-color;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    opacity: 0.9;

    &__closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 3rem;
        margin-left: 50px;
        text-decoration: none;
        color: $light-background-primary;

        }

    &__link {
        padding: 32px 32px 8px 32px;
        text-decoration: none;
        font-family: $body-font;
        font-size: 1.5rem;
        color: $light-background-primary;
        display: block;
        transition: 0.3s;

        &:hover {
            color: $light-accent;
        }

        
    }
}











// footer


.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: $light-text-title-color;
    color: $light-background-primary;
    

    p {
        font-family: $body-font;
        font-weight: 700;
    }
}