@import url("https://fonts.googleapis.com/css2?family=Domine&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FEFAE0;
}

.diagonal-box-shaded {
  position: static;
  background-color: #F4A261;
  transform: skewY(10deg);
  z-index: -1;
}

header {
  position: fixed;
  background-color: transparent;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  top: 0;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
header .fa-bars {
  font-size: 2rem;
  color: #264653;
  cursor: pointer;
  text-shadow: 2px 2px 2px lightgray;
}
header .switch-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #264653;
  font-weight: 900;
  text-shadow: 2px 2px 2px lightgrey;
}
header .switch {
  position: relative;
  display: inline-block;
}
header .switch-input {
  display: none;
}
header .switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
header .switch-label::before,
header .switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
header .switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #264653;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  box-shadow: 2px 2px 2px grey;
}
header .switch-label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FEFAE0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
header .switch-input:checked + .switch-label::before {
  background-color: #E76F51;
}
header .switch-input:checked + .switch-label::after {
  left: 24px;
}

.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FEFAE0;
}
.landing-section__rectangle {
  width: 450px;
  height: 25px;
  background-color: #E76F51;
  box-shadow: 2px 2px 2px 2px lightgray;
}
.landing-section__h1 {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  color: #264653;
  font-size: 9rem;
  margin-bottom: 15px;
  text-shadow: 2px 2px 2px lightgrey;
}
.landing-section__h2, .content-section__h3 {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  color: #264653;
  font-size: 2.5rem;
  margin-top: 30px;
}

.content-section, .content-section-with-background {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 60em;
  margin: 0 auto;
  align-items: center;
}
.content-section__h2 {
  margin-top: 50px;
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  text-shadow: 2px 2px 2px lightgray;
  text-align: center;
  color: #264653;
}
.content-section__text-block, .content-section .grid-container__lower-text, .content-section-with-background .grid-container__lower-text, .content-section .grid-container__upper-text, .content-section-with-background .grid-container__upper-text {
  font-family: "Domine", "Times New Roman", serif;
  text-align: center;
  color: #264653;
  font-size: 1.5rem;
  margin-top: 50px;
}
.content-section-with-background {
  transform: skewY(-10deg);
}
.content-section .skills-list, .content-section-with-background .skills-list {
  list-style-type: none;
  font-size: 1.5rem;
  margin-bottom: 50px;
}
.content-section .skills-container, .content-section .contact-icon, .content-section-with-background .skills-container, .content-section-with-background .contact-icon {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #264653;
  font-size: 5rem;
  text-shadow: 1px 1px 1px lightgrey;
  padding: 20px;
  margin: 20px;
  width: 100%;
}
.content-section__h3 {
  font-size: 2rem;
}
.content-section .grid-container, .content-section-with-background .grid-container {
  display: grid;
  grid-template-columns: 12;
  grid-template-rows: 2;
  align-items: center;
}
.content-section .grid-container__upper-text, .content-section-with-background .grid-container__upper-text {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 0;
  grid-row-end: 1;
}
.content-section .grid-container__upper-img, .content-section-with-background .grid-container__upper-img {
  grid-column-start: 11;
  grid-column-end: 13;
  grid-row-start: 0;
  grid-row-end: 1;
  width: 250px;
  height: auto;
}
.content-section .grid-container__lower-text, .content-section-with-background .grid-container__lower-text {
  grid-column-start: 3;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}
.content-section .grid-container__lower-img, .content-section-with-background .grid-container__lower-img {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 10;
  width: 250px;
  height: auto;
}
.content-section .contact-icon, .content-section-with-background .contact-icon {
  flex-direction: row;
  font-size: 3rem;
  margin: 20px;
}
.content-section .profile-image, .content-section-with-background .profile-image {
  width: 200px;
  height: auto;
  border-radius: 9999px;
}
.content-section .contact-links, .content-section-with-background .contact-links {
  display: flex;
}
.content-section .contact-links a:link, .content-section-with-background .contact-links a:link, .content-section .contact-links a:active, .content-section-with-background .contact-links a:active, .content-section .contact-links a:visited, .content-section-with-background .contact-links a:visited {
  text-decoration: none;
}
.content-section .contact-form, .content-section-with-background .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.content-section .contact-form__label, .content-section-with-background .contact-form__label {
  display: none;
}
.content-section .contact-form__input, .content-section-with-background .contact-form__input {
  background-color: transparent;
  border: none;
  border-bottom: 5px solid #E76F51;
  margin: 20px;
  width: 500px;
  font-family: "Domine", "Times New Roman", serif;
  font-size: 1.5rem;
  color: #264653;
}
.content-section .contact-form__submit, .content-section-with-background .contact-form__submit {
  background-color: #264653;
  font-family: "Pacifico", cursive;
  color: #FEFAE0;
  font-size: 1.5rem;
  border: none;
  box-shadow: 2px 2px 2px 2px lightgrey;
  width: 500px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #264653;
  overflow-x: hidden;
  padding-top: 100px;
  transition: 0.5s;
  opacity: 0.9;
}
.sidenav__closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3rem;
  margin-left: 50px;
  text-decoration: none;
  color: #FEFAE0;
}
.sidenav__link {
  padding: 32px 32px 32px 32px;
  text-decoration: none;
  font-family: "Domine", "Times New Roman", serif;
  font-size: 2.5rem;
  color: #FEFAE0;
  display: block;
  transition: 0.3s;
}
.sidenav__link:hover {
  color: #E76F51;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #264653;
  color: #FEFAE0;
}
.footer p {
  font-family: "Domine", "Times New Roman", serif;
  font-weight: 700;
  font-size: 1rem;
}
.footer img {
  height: 16px;
  width: auto;
  align-self: center;
}