@import url('https://fonts.googleapis.com/css2?family=Domine&family=Pacifico&display=swap');

$header-font: 'Pacifico', cursive;
$body-font: 'Domine', 'Times New Roman', serif;

$light-background-primary: #FEFAE0;
$light-background-secondary: #F4A261;
$light-accent: #E76F51;
$light-text-title-color: #264653;
$light-text-header-color: #264653;
$light-text-paragraph-color: #264653;

$dark-background-primary: #264653;
$dark-background-secondary: #2A9D8F;
$dark-accent: #E76F51;
$dark-text-title-color: #E9C46A;
$dark-text-header-color: #F4A261;
$dark-text-paragraph-color: #FEFAE0;

