@import url("https://fonts.googleapis.com/css2?family=Domine&family=Pacifico&display=swap");
.content-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #FEFAE0;
  padding-left: 100px;
}
.content-section__h2 {
  font-family: "Pacifico", cursive;
  z-index: 1;
  font-size: 4rem;
  text-shadow: 2px 2px 2px lightgray;
  text-align: center;
  color: #264653;
}
.content-section__text-block {
  font-family: "Domine", "Times New Roman", serif;
}

.background-shape {
  position: absolute;
  z-index: 10;
  top: 1080px;
  width: 55.6vw;
  z-index: 0;
  height: 450px;
  -webkit-transform: skew(20deg);
  -moz-transform: rotate(90deg);
  -o-transform: skew(20deg);
  -ms-transform: skew(20deg);
  background: #F4A261;
  transform: matrix(2.304, 0.32, 0, 2.098, 138.441, -46);
}