@import url("https://fonts.googleapis.com/css2?family=Domine&family=Pacifico&display=swap");
.content-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content-section__h2 {
  font-family: "Pacifico", cursive;
}
.content-section__text-block {
  font-family: "Domine", "Times New Roman", serif;
}