@import "../abstracts/variables";

.content-section {
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    &__h2 {
        font-family: $header-font;

    }

    &__text-block {
        font-family: $body-font;
    }
}