.footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: $light-text-title-color;
    color: $light-background-primary;
    

    p {
        font-family: $body-font;
        font-weight: 700;
        font-size: 1rem;
    }

    img {
        
        height: 16px;
        width: auto;
        align-self: center;
        
    }
}