@import url("https://fonts.googleapis.com/css2?family=Domine&family=Pacifico&display=swap");
.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #264653;
  color: #FEFAE0;
}
.footer p {
  font-family: "Domine", "Times New Roman", serif;
  font-weight: 700;
}