@import "../abstracts/_variables.scss";

.landing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__h1 {
        font-family: $header-font;
        font-size: 96px;
    }

    &__h2 {
        font-family: $header-font;

    }
}