header {
    position: fixed;
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    top: 0;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    
    .fa-bars {
        font-size: 2rem;
        color: $light-text-header-color;
        cursor: pointer;
        text-shadow: 2px 2px 2px lightgray;
        }

    .switch-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $light-text-title-color;
        font-weight: 900;
        text-shadow: 2px 2px 2px lightgrey;
    }

    .switch {
        position: relative;
        display: inline-block;
    }

    .switch-input {
        display: none;
    }

    .switch-label {
        display: block;
        width: 48px;
        height: 24px;
        text-indent: -150%;
        clip: rect(0 0 0 0);
        color: transparent;
        user-select: none;
    }

    .switch-label::before,
    .switch-label::after {
        content: "";
        display: block;
        position: absolute;
        cursor: pointer;
    }

    .switch-label::before {
        width: 100%;
        height: 100%;
        background-color: $light-text-header-color;
        border-radius: 9999em;
        -webkit-transition: background-color 0.25s ease;
        transition: background-color 0.25s ease;
        box-shadow: 2px 2px 2px grey;
    }

    .switch-label::after {
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $light-background-primary;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
        -webkit-transition: left 0.25s ease;
        transition: left 0.25s ease;
    }

    .switch-input:checked + .switch-label::before {
        background-color: $light-accent;
    }

    .switch-input:checked + .switch-label::after {
        left: 24px;
    }
}
