.landing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $light-background-primary;

    &__h1 {
        font-family: $header-font;
        font-weight: 300;
        color: $light-text-header-color;
        font-size: 9rem;
        margin-bottom: 15px;
        text-shadow: 2px 2px 2px lightgrey;
    }


    &__h2 {
        font-family: $header-font;
        font-weight: 300;
        color: $light-text-header-color;
        font-size: 2.5rem;
        margin-top: 30px;
    }
}