.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: $light-text-header-color;
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
    opacity: 0.9;

    &__closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 3rem;
        margin-left: 50px;
        text-decoration: none;
        color: $light-background-primary;

        }

    &__link {
        padding: 32px 32px 32px 32px;
        text-decoration: none;
        font-family: $body-font;
        font-size: 2.5rem;
        color: $light-background-primary;
        display: block;
        transition: 0.3s;

        &:hover {
            color: $light-accent;
        }

        
    }
}