@import url("https://fonts.googleapis.com/css2?family=Domine&family=Pacifico&display=swap");
.landing-section__rectangle {
  background-color: #E76F51;
  height: 15px;
  width: 480px;
  box-shadow: 2px 2px 2px 2px lightgray;
}